shallow_clone: true

version: '{build}'

os:
  - Visual Studio 2015
  - Visual Studio 2013

platform:
  - x64
  - x86

configuration:
  - Release

build:
  verbosity: detailed

environment:
  BOOST_ROOT: C:\Libraries\boost_1_63_0
  CMAKE_INSTALL_PREFIX: C:\projects\stir\install\

build_script:
  - mkdir build
  - mkdir install
  - cd build
  - cmake.exe .. -DCMAKE_INSTALL_PREFIX="C:\projects\stir\install" -DCMAKE_BUILD_TYPE=%CONFIGURATION%  -DCMAKE_CONFIGURATION_TYPES=%CONFIGURATION% 
  - cmake.exe --build . --config %CONFIGURATION%
  - cmake.exe --build . --target install --config %CONFIGURATION%

test_script:
  - cd C:\projects\stir\build
  - ctest -C %CONFIGURATION%
  - cd ..\recon_test_pack
  - run_tests --nointbp "C:\projects\stir\install\bin\"
