shallow_clone: true

skip_commits:
  files:
    - .github/**/*
    - '**/*.md'
    - '**/*.html'
    - '**/*.tex'

version: '{build}'

os:
  - Visual Studio 2022
  - Visual Studio 2019
  - Visual Studio 2015

platform:
  - x64

configuration:
  - Release

build:
  verbosity: detailed

environment:
  CMAKE_INSTALL_PREFIX: C:\projects\stir\install\

build_script:
  # find boost on Appveyor. Version depends on VM
  - for /D %%d in (C:\Libraries\boost_*) do set BOOST_ROOT=%%d
  - echo Using Boost %BOOST_ROOT%
  - mkdir build
  - mkdir install
  - cd build
  - cmake.exe .. -DCMAKE_INSTALL_PREFIX="C:\projects\stir\install" -DCMAKE_BUILD_TYPE=%CONFIGURATION%  -DCMAKE_CONFIGURATION_TYPES=%CONFIGURATION% -DSTIR_OPENMP=ON
  - cmake.exe --build . --config %CONFIGURATION%
  - cmake.exe --build . --target install --config %CONFIGURATION%

test_script:
  - cd C:\projects\stir\build
  - ctest --output-on-failure  -C %CONFIGURATION%
  - cd ..\recon_test_pack
  - run_tests --nointbp "C:\projects\stir\install\bin\"
