# currently empty attributes (using pre-commit)
[attr]cppfiles
[attr]cfiles
[attr]pyfiles
*.cpp  cppfiles
*.cxx  cppfiles
*.h  cppfiles
*.inl  cppfiles
*.txx  cppfiles
*.c    cfiles
*.py   pyfiles
*.v     -text -diff
*.s     -text -diff
*.scn     -text -diff
*.gz     -text -diff
*.nii     -text -diff
*.sh    eol=lf
*.jpg   -text -diff
*.png   -text -diff
*.gif   -text -diff
*.pdf   -text -diff
*.eps   -text -diff
