# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Python
__pycache__/
*.py[cod]


# Executables
*.exe
*.out
*.app

# CMake temporary output

CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml


# Common editor backups
~$*
*~
*.bak

# Ignore Visual Studio User-specific files
*.suo
*.user
*.sln.docstates
*.pdf
*.manifest
*.exp

# MATLAB

*.pdf
*.manifest

# MATLAB
*.asv
*.mex*

# Mac
.DS_Store
.cproject
.project
.settings

# other stuff
.cache