Alaleh Rashidnasab <a.rashidnasab@ucl.ac.uk>
Alexander C. Whitehead <alexandercwhitehead@gmail.com> <alexandercwhitehead@gmail.com>
Ander Biguri <ander.biguri@gmail.com> <ander.biguri@gmail.com>
Ashley Gillman <gillmanash@gmail.com> <ashley.gillman@csiro.au>
Ashley Gillman <gillmanash@gmail.com> <gillmanash@gmail.com>
Benjamin Thomas <ben.thomas1984@gmail.com> <b.a.thomas@ucl.ac.uk>
Benjamin Thomas <ben.thomas1984@gmail.com> <ben.thomas1984@gmail.com>
Christoph Kolbitsch <christoph.kolbitsch@ptb.de> <christoph.kolbitsch@ptb.de>
Daniel Deidda <daniel.deidda@npl.co.uk> <daniel.deidda@npl.co.uk>
David Völgyes <david.volgyes@ieee.org>
Edoardo Pasca <edo.paskino@gmail.com> <edo.paskino@gmail.com>
Elise Emond <elise.emond@gmail.com>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> <CLRC+wps46139@scpc036.escdc.fed.cclrc.ac.uk>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> <eeo@CCPPETMR>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> <eeo@sirf>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> <eovtchin@murchison.cs.ucl.ac.uk>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> <evgueni@ccppetmr>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> <evgueni.ovtchinnikov@stfc.ac.uk>
Evgueni Ovtchinnikov <evgueni.ovtchinnikov@stfc.ac.uk> evgueni-ovtchinnikov <wps46139@scpc036.escdc.fed.cclrc.ac.uk>
Jannis Fischer <jannis.fischer@positrigo.com> <jannis.fischer@cern.ch>
Jannis Fischer <jannis.fischer@positrigo.com> <jannis.fischer@phys.ethz.ch>
Jannis Fischer <jannis.fischer@positrigo.com> <jannis.fischer@positrigo.com>
Jannis Fischer <jannis.fischer@positrigo.com> <6814258+jafische@users.noreply.github.com>
Kris Thielemans <k.thielemans@ucl.ac.uk> <kris.f.thielemans@gmail.com>
Kris Thielemans <k.thielemans@ucl.ac.uk> <kris.f.thielemans@hotmail.com>
Kris Thielemans <k.thielemans@ucl.ac.uk> <kris@INM304.(none)>
Kris Thielemans <k.thielemans@ucl.ac.uk> <KrisThielemans@users.noreply.github.com>
Kris Thielemans <k.thielemans@ucl.ac.uk> <kthielem@dettifoss.cs.ucl.ac.uk>
Ludovica Brusaferri <l.brusaferri.16@ucl.ac.uk>
Markus Jehl <markus.jehl@positrigo.com>
Markus Jehl <markus.jehl@positrigo.com> <87262701+markus-jehl@users.noreply.github.com>
Matthias Ehrhardt <m.ehrhardt@bath.ac.uk> <matthias.ehrhardt.11@ucl.ac.uk>
Matthias Ehrhardt <m.ehrhardt@bath.ac.uk> <m.ehrhardt@bath.ac.uk>
Matthias Ehrhardt <m.ehrhardt@bath.ac.uk> <m.j.ehrhardt@damtp.cam.ac.uk>
Nikos Efthimiou <nikos.efthimiou@gmail.com> <nikos.efthimiou@gmail.com>
Ottavia Bertolli <ottavia.bertolli.13@ucl.ac.uk>
Palak Wadhwa <pwadhwa351@gmail.com> <38861704+pwadhwa351@users.noreply.github.com>
Palak Wadhwa <pwadhwa351@gmail.com> <medpwad@leeds.ac.uk>
Palak Wadhwa <pwadhwa351@gmail.com> <pwadhwa351@gmail.com>
Palak Wadhwa <pwadhwa351@gmail.com> <umdde@leeds.ac.uk>
Rebecca Gillen <rebecca.gillen.18@ucl.ac.uk> <43674917+RebeccaGillen@users.noreply.github.com>
Richard Brown <richard.brown@ucl.ac.uk> <33289025+rijobro@users.noreply.github.com>
Richard Brown <richard.brown@ucl.ac.uk>  <richard.brown@ucl.ac.uk>
Robert Twyman <robbietuk@gmail.com> <robbietuk@gmail.com>
Robert Twyman <robbietuk@gmail.com> <robert.twyman.18@ucl.ac.uk>
Yu-jung Tsai <yu-jung.tsai.14@ucl.ac.uk> <yu-jung.tsai.14@ucl.ac.uk>
Gemma Fardell <gemma.fardell@stfc.ac.uk> <gemma.fardell@stfc.ac.uk>
Viet Anh Dao <mm16vd@leeds.ac.uk> <mm16vd@leeds.ac.uk>
Gefei Chen <seucgf@gmail.com>
Michael Roethlisberger <roemicha@ethz.ch>