# Language selection
language: cpp

cache: ccache

# Environment variables:
# To avoid too many builds, we mix some options (although independent tests would have been better)
matrix:
 include:
   #### linux
 #- os: linux
 #  python: 3
 #  env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=0 -DSTIR_OPENMP:BOOL=OFF" CC=gcc-5 CXX=g++-5
 #- os: linux
 #  python: 3
 #  env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=1 -DSTIR_OPENMP:BOOL=OFF" CC=gcc-5 CXX=g++-5
 #- os: linux
 #  python: 3
 #  env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=0 -DSTIR_OPENMP:BOOL=ON" CC=gcc-5 CXX=g++-5
 #- os: linux
 #  python: 3
 #  env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=1 -DSTIR_OPENMP:BOOL=OFF" CC=clang-5.0 CXX=clang++-5.0
   # note: cannot use OpenMP yet with Clang on Travis apparently. See https://github.com/travis-ci/travis-ci/issues/8613

   ####  osx
   # note: cannot use OpenMP on OSX yet, see https://github.com/UCL/STIR/issues/117
 - os: osx
   python: 3
   env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=1 -DSTIR_OPENMP:BOOL=OFF" CC=gcc CXX=g++
 - os: osx
   osx_image: xcode9 # need that for ROOT
   python: 3
   env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=0 -DSTIR_OPENMP:BOOL=OFF" CC=gcc CXX=g++
 - os: osx
   osx_image: xcode9  # need that for ROOT
   python: 3
   env: EXTRA_BUILD_FLAGS="-DDISABLE_CERN_ROOT_SUPPORT=0 -DSTIR_OPENMP:BOOL=OFF" CC=clang CXX=clang++

env:
  global:
  - BUILD_FLAGS="-DBUILD_SWIG_PYTHON:BOOL=On -DSTIR_MPI:BOOL=Off -DCMAKE_BUILD_TYPE=Release"


# Ubuntu 14.04 LTS (trusty)
dist: trusty

# No need for sudo
sudo: false

# Compilation dependencies
addons:
  apt:
    sources:
      - llvm-toolchain-trusty-5.0
    packages:
      - libboost-dev
      - swig3.0
      - python3-dev
      - python3-numpy
      - python3-pytest
      - libgomp1
      - clang-5.0
      - root-system-bin
      - libroot-tree-dev
      - libroot-tree-treeplayer-dev
      - libroot-io-dev

# Actual compilation script

before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then 
      brew update
      brew tap homebrew/science
      # seems to be needed on Travis due to conflicts with gcc otherwise
      # see https://github.com/travis-ci/travis-ci/issues/8826
      brew cask uninstall oclint
      brew install ccache
      export PATH="/usr/local/opt/ccache/libexec:$PATH"
      brew install root
      brew install swig
      # use Python3 on Mac
      # from http://blog.fizyk.net.pl/blog/running-python-tests-on-traviss-osx-workers.html
      brew install python3
      #pip install --upgrade virtualenv
      #virtualenv venv -p python3
      python3 -m venv `pwd`/venv
      ls -lR venv
      source venv/bin/activate 
      python -m pip install -U pip
      python -m pip install pytest numpy
    fi
  - which python
  - PY_EXE=`which python`
  - python --version  
     

install:
  - mkdir build install
  - cd build
  - echo PY: ${PY_EXE}
  - cmake $BUILD_FLAGS $EXTRA_BUILD_FLAGS -DPYTHON_EXECUTABLE="${PY_EXE}" -DCMAKE_INSTALL_PREFIX=$TRAVIS_BUILD_DIR/install ..
  - make -j 2 all
  - make install
  
script:
  - make test
  - export PATH=$PATH:$TRAVIS_BUILD_DIR/install/bin
  - cd $TRAVIS_BUILD_DIR/recon_test_pack
  - ./run_test_simulate_and_recon.sh
  - ./run_test_simulate_and_recon_with_motion.sh
  - ./run_scatter_tests.sh
  - ./run_tests.sh --nointbp
  - if [[ $EXTRA_BUILD_FLAGS == *"DDISABLE_CERN_ROOT_SUPPORT=0"* ]]; then ./run_root_GATE.sh; fi
  - cd $TRAVIS_BUILD_DIR/recon_test_pack/SPECT
  - ./run_SPECT_tests.sh
  - cd $TRAVIS_BUILD_DIR/src
  # Run Python tests, making sure we're using the correct Python interpreter
  - export PYTHON=$(cmake -LA -N $TRAVIS_BUILD_DIR/build |awk -F= '/PYTHON_EXECUTABLE/ {print $2}')
  - echo Using Python executable "$PYTHON"
  - export PYTHONPATH=$TRAVIS_BUILD_DIR/install/python
  - ${PYTHON} -m pytest .
